.component{
  $color: #dddddd;
  $bg: #6B6B6B;
  display: flex;
  flex-direction: column;
  gap: 0.3em;

  #total {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
  }
  
  #totalList {
    overflow: auto;
    height: calc(20vh + 20vw);

    a {
      text-decoration: none;
    }
  
    .post {
      border-radius: 8px;
      box-shadow: 0px 0px 3px 0px rgb(34 60 80 / 20%);
      max-height: 50vh;
      padding: 5px 10px;
      overflow: auto;
      cursor: pointer;
      color: $color;
      background-color: $bg;
      margin: 5px 0;
    
      &.active {
        background-color: #1AA2FF;
      }
    
      >:nth-child(1) {
        font-size: 1.2em;
        font-weight: 500;
      }
    }
    
  }::-webkit-scrollbar {
    width: 0px;
  }
}