.component {
  $color: #dddddd;
  $bg: #383737;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0px rgb(34 60 80 / 20%);
  max-height: 50vh;
  padding: calc(0.5vw + 0.5vh);
  overflow: auto;
  background-color: $bg;
  margin: 2.4em 0;
  display: flex;
  flex-direction: column;
  gap: calc(0.5vw + 0.5vh);
  color: $color;

  >:nth-child(1) {
    font-size: 1.2em;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 20vh;
  }

  button {
    cursor: pointer;
    margin: 5px;
  }
}