#component {
  $color: #dddddd;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.2);
  padding: calc(1vw + 1vh);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: calc(0.5vw + 0.5vh);
  color: $color;
}