.navbar {
  *{
    font-size: calc((1vw + 1vh) / 1.2);
  }
  background-color: #282c34;
  padding: 1% 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  border-bottom: 2px solid black;


  >div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    
    a {
      text-decoration: none;
    }
  
    a:hover {
      text-decoration: underline;
    }
  } 
}