.component {
  $height: 36;
  $color: #dddddd;
  $bg: #6B6B6B;
  position: relative;
  display: inline-block;
  height: min-content;
  margin: auto auto 0 auto;
  
  &:before {
    content: '';
    height: ($height - 5) + px;
    position: absolute;
    right: 7px;
    top: 3px;
    width: 22px;
    background: $bg;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
    display: block;
    
  }
  &:after {
    content: " ";
    position: absolute;
    right: 15px;
    top: 46%;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: $color transparent transparent transparent;
    pointer-events: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px 0 10px;
    font-size: inherit;
    border: 1px solid $color;
    border-radius: 3px;
    line-height: $height + px;
    height: $height + px;
    background: $bg;
    margin: 0 5px 5px 0;
    color: $color;
    cursor: pointer;

    option[disabled] {
      background-color: rgb(241, 237, 237); 
    }
  }
}
//fix for ie 10 later
select::-ms-expand {
  display: none;
}