.component {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  $primary: #11998e;
  $secondary: #38ef7d;
  $color: #dddddd;
  $gray: #9b9b9b;
  $bg: #6B6B6B;

  input {
    
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1rem;
    color: $color;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    box-sizing: border-box;

    &.button {
      display: none;
    }

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ label {
      font-size: 1rem;
      cursor: text;
      top: 20px;
    }

    [aria-autocomplete] {
      background: transparent;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: $color !important;
  }

  label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.1rem;
    color: $gray;

    &.button {
      position: relative;
      width: min-content;
      align-items: center;
      background-color: $bg;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.25rem;
      box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
      box-sizing: border-box;
      color: $color;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 2.5rem;
      padding: calc(0.675rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    }
    &.loaded {
      background-color: #1AA2FF!important;
      &::after {
        content: '-loaded';
      }
    }
  }

  input:focus {
    ~ label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:500;    
    }
    padding-bottom: 6px;  
    
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }
  /* reset input */
  input {
    &:required,&:invalid { box-shadow:none; }
  }
}

