.component {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  $primary: #11998e;
  $secondary: #38ef7d;
  $color: #dddddd;
  $gray: #9b9b9b;
  $bg: #6B6B6B;

  input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1rem;
    color: $color;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    box-sizing: border-box;

    &.button {
      display: none;
    }

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ label {
      font-size: 1rem;
      cursor: text;
      top: 20px;
    }

    [aria-autocomplete] {
      background: transparent;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: $color !important;
  }

  label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.1rem;
    color: $gray;

    &.button {
      position: relative;
      padding: 0.7em;
      box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.2);
      background-color: transparent;
      color: inherit;
      width: fit-content;
      transition: .3s;
      cursor: pointer;
      border-radius: 0.3em;

      &:hover {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
      }
    }
    &.loaded {
      background-color: #1AA2FF!important;
      &::after {
        content: '-loaded';
      }
    }
  }

  input:focus {
    ~ label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:500;    
    }
    padding-bottom: 6px;  
    
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }
  /* reset input */
  input {
    &:required,&:invalid { box-shadow:none; }
  }
}

